:root {
    --terminal-font-color: #b0b2b6;
    --terminal-output-color: #f6f6f6;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.terminal {
    border-radius: 10px;
    overflow: hidden;
    font-family: Jetbrains Mono,monospace!important
}

.terminal-bar {
    background-color: #eae8e9;
}

.dark-mode {
    background: #0d0f17;
    height: 42px;
    align-items: center;
}

.dark-mode-text {
    color: #bdb9bf !important;
}

.icon-btn {
    border-radius: 50%;
    height: 12px;
    width: 12px;
}

.terminal-window {
    min-height: 254px;
    max-height: 60vh;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

.primary-bg {
    background-color: #0d0f17;
}

.terminal-line {
    position: relative;
    color: var(--terminal-font-color);
}

.terminal-output {
    overflow-y: auto;
}

.directory {
    color: #75e1e7;
    font-weight: 500;
}

.success {
    color: #8dd39e;
}

.code,
.error,
.social,
.fa-heart {
    color: #4069f9;
}

.dummy-keyboard {
    opacity: 0;
    filter: alpha(opacity=0);
}

.user-input::after {
    display: block;
    content: "";
    width: 10px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    right: -10px;
    animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
